@media only screen and (min-width: 1024px) {
	#about-doc {
		width: 1024px;
	}
}

@media only screen and (max-width: 1023px) {
	#about-doc {
		width: 100%;
	}
}

@media only screen and (min-height: 1024px) {
	#about-doc {
		height: 800px;
	}
}

@media only screen and (max-height: 944px) {
	#about-doc {
		height: 700px;
	}
}

@media only screen and (max-height: 700px) {
	#about-doc {
		height: 400px;
	}
}

@media only screen and (max-height: 412px) {
	#about-doc {
		height: 200px;
	}
}
