@media only screen and (min-width: 768px) {
	#creation-dialog {
		width: 49.75%;
		margin-right: 0.5%;
	}

	#parent-wizard {
		width: 49.75%;
	}
}

@media only screen and (max-width: 767px) {
	#parent-wizard {
		width: 100%;
	}
}
