/*
@media only screen and (min-width: 768px) {
	#creation-dialog {
		width: 49.75%;
		margin-right: 0.5%;
	}

	#parent-wizard {
		width: 49.75%;
	}
}

@media only screen and (max-width: 767px) {
	#parent-wizard {
		width: 100%;
	}
}

#file-input {
	background-color: #EEEEEE;
	width: 100%;
	border-radius: 0px 4px 4px 0px;
	border-style: solid;
	border-color: #D5D6D6;
	border-width: 1px;
}

#description-label {
	border-radius: 4px 4px 0px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #D5D6D6;
	padding: 6px;
	background-color: #EEEEEE;
	color: #505050;
}

#description {
	background-color: #FFFFFF;
	width: 100%;
	border-radius: 0px 4px 4px 0px;
	border-style: solid;
	border-color: #D5D6D6;
	border-width: 1px;
}
*/