/*
	index.css
*/

body {
	margin: 0px;
	padding: 0px;
}

em {
	font-family: 'Times New Roman';
	font-weight: normal;
}

.map {
	width: 600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.pre-spaced {
	margin-left: 6px;
}
