body {
	background-color: rgb(237, 238, 247);
}

a {
	text-decoration: none;
	color: #3366FF;
}

a:hover {
	color: #FF6633;
}

.pre-spaced {
	margin-left: 5px;
}

.post-spaced {
	margin-right: 5px;
}

.extra-bottom-space {
	margin-bottom: 8px;
}

.no-vertical-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.no-horizontal-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.nabbar-inverse .navbar-brand,
.navbar .navbar-brand {
	color: #ffffff;
}
