body {
	background-color: rgb(247, 247, 247);
}

footer {
	//text-align: center;
}

#page-title {
	color: #9d9d9d;
}

.no-click,
.no-click:hover,
.no-click[class*="leaflet-draw-draw-"]:hover {
	cursor: default;
}

.soft-border {
	border-color: #337ab7;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 5px;
}

.centered-text {
	text-align: center;
}

.pre-spaced {
	margin-left: 5px;
}

.post-spaced {
	margin-right: 5px;
}

.extra-bottom-space {
	margin-bottom: 10px;
}

.extra-top-space {
	margin-bottom: 10px;
}

.vertical-spaced {
	margin-top: 5px;
	margin-bottom: 5px;
}

.no-vertical-margins {
	margin-top: 0px;
	margin-bottom: 0px;
}

.horizontal-padding {
	padding-left: 15px;
	padding-right: 15px;
}

.no-vertical-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.no-horizontal-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.top-aligned {
	vertical-align: top;
}
