body {
	background-color: rgb(237, 238, 247);
}

a {
	text-decoration: none;
	color: #3366FF;
}

a:hover {
	color: #FF6633;
}

.pre-spaced {
	margin-left: 5px;
}

.post-spaced {
	margin-right: 5px;
}

.extra-bottom-space {
	margin-bottom: 8px;
}
