@(message: String, version:String)

@imports = {
	<!-- <script src='@routes.Assets.at("javascripts/browser.js")' defer></script> -->
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'>
}

@main(message, imports, version) {
	<div>
		<h1>Apollo Location Service</h1>
		
		<p>The Apollo Location Service (Apollo-LS) fulfills the need for a location naming system.   It presents a temporally coherent source of geopolitical, administrative and epidemic boundaries, e.g., Sudan prior to 7/9/2011, Sudan and South Sudan post 7/9/2011.</p>
		
		<p>The Apollo-LS application allows users to query the Apollo-LS for machine-interpretable maps of locations, anonymous identifiers to locations, and any existing standard codes for the location e.g., ISO codes.  A user can search for information about a location by pointing on map or via keyword search. A user can find locations by traversing administrative trees and, importantly, define new locations (e.g., an epidemic zone) by uploading a file (Google KML).</p>
		
		<p>As a Web service, Apollo-LS 'exposes' an Application Programming Interface that allows other programs to find and retrieve an Apollo-XSD, standards-based, machine readable representation of the location (GeoJSON, Google KML, Apollo JSON/XML).</p>
		
		<p>We have populated Apollo-LS with approximately 84,500 locations sourced from the U.S. Census, Diva, ESRI, GADM and the Minnesota Population Center.  We are currently using Apollo-LS identifiers in the Ebola Chronology as the standard identifier for the administrative location(s) within which an epidemic occurred as well as for the geographic boundary of the epidemic, which we refer to as the 'epidemic zone.' </p>
	</div>
}
