<div id="advanced-searchbar-form">
	<div class="roundbox">
		<div class="form-inline">
			<div class="form-group horizontal-padding">
				<label for="ignore-accent">ignoreAccent</label>
				<input id="ignore-accent" class="form-control" type="checkbox" checked>
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="search-names">searchNames</label>
				<input id="search-names" class="form-control" type="checkbox" checked>
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="search-other-names">searchOtherNames</label>
				<input id="search-other-names" class="form-control" type="checkbox" checked>
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="search-codes">searchCodes</label>
				<input id="search-codes" class="form-control" type="checkbox" checked>
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="verbose">verbose</label>
				<input id="verbose" class="form-control" type="checkbox" checked>
			</div>
		</div>
		
		<div class="form-inline extra-bottom-space">
			<div class="form-group horizontal-padding">
				<label for="fuzzy-match">fuzzyMatch</label>
				<input id="fuzzy-match" class="form-control" type="checkbox" checked>
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="fuzzy-match-threshold">fuzzyMatchThreshold</label>
				<input id="fuzzy-match-threshold" class="form-control" type="number" min="0" value="0">
			</div>
		</div>
		
		<div class="form-inline extra-bottom-space">
			<div class="form-group horizontal-padding">
				<label for="limit">limit</label>
				<input id="limit" class="form-control" type="number" min="0" value="0">
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="logic">logic</label>
				<input id="logic" class="form-control" type="string" value="AND">
			</div>
			
			@* this is only used for pagination in results page *@
			@*
			<div class="form-group horizontal-padding">
				<label for="offset">offset</label>
				<input id="offset" class="form-control" type="number" min="0" value="0">
			</div>
			*@
		</div>
		
		<div class="form-inline extra-bottom-space">
			<div class="form-group horizontal-padding">
				<label for="start-date">startDate</label>
				<input id="start-date" class="form-control" type="date">
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="end-date">endDate</label>
				<input id="end-date" class="form-control" type="date">
			</div>
		</div>
		
		<div class="form-inline extra-bottom-space">
			<div class="form-group horizontal-padding">
				<label for="latitude">latitude</label>
				<input id="latitude" class="form-control" type="number" min="-90" max="90" value="0" step="0.000001">
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="longitude">longitude</label>
				<input id="longitude" class="form-control" type="number" min="-180" max="180" value="0" step="0.000001">
			</div>
		</div>
		
		<div class="form-group horizontal-padding">
			<label for="root-alc">rootALC</label>
			<input id="root-alc" class="form-control" type="number" min="0" value="0">
		</div>
		
		<div class="form-group horizontal-padding">
			<label for="location-type-ids">locationTypeIds</label>
			<textarea id="location-type-ids" class="form-control">0</textarea>
		</div>
		
		<div class="form-group horizontal-padding">
			<label for="code-type-ids">codeTypeIds</label>
			<textarea id="code-type-ids" class="form-control">0</textarea>
		</div>
		
		<div class="form-group horizontal-padding">
			<label for="only-feature-fields">onlyFeatureFields</label>
			<textarea id="only-feature-fields" class="form-control" placeholder="ex: properties.name, properties.codes"></textarea>
		</div>
		
		<div class="form-group horizontal-padding">
			<label for="excluded-feature-fields">excludedFeatureFields</label>
			<textarea id="excluded-feature-fields" class="form-control" placeholder="ex: geometry, bbox"></textarea>
		</div>
		
		<div class="clear-both horizontal-padding extra-bottom-space">
			<button id="advanced-search-button" class="btn btn-primary">Advanced Search</button>
		</div>
	</div>
</div>

<script src='@routes.Assets.at("javascripts/advanced-searchbar.js")'></script>

