<div id="advanced-searchbar-form" style="margin-bottom: 5px; padding-left: 5px; padding-right: 5px;">
	<div class="roundbox">
		<div class="form-inline">
			<div class="form-group horizontal-padding">
				<label for="latitude">latitude</label>
				<input id="latitude" class="form-control" type="number" min="-90" max="90" value="0" step="0.000001">
			</div>
			
			<div class="form-group horizontal-padding">
				<label for="longitude">longitude</label>
				<input id="longitude" class="form-control" type="number" min="-180" max="180" value="0" step="0.000001">
			</div>
			
			<div class="form-group pull-right no--vertical-margins">
				<button id="search-button" class="btn btn-primary">Search</button>
			</div>
			<div class="clear-both"></div>
		</div>
	</div>
</div>

<script src='@routes.Assets.at("javascripts/advanced-map.js")'></script>
