@(message: String, version:String)

@imports = {
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
	
	<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.1.5.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/browser.js")'></script>
	
	<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.1.5.css")' rel='stylesheet'>
	<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.css")' rel='stylesheet'>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'>
}

@main(message, imports, version) {
	<div>
		<div id="header-data" hidden>
			<h2 style="clear: both;">
				<div id="au-name" class="pull-left"></div>
				<div id="au-location-type"></div>
			</h2>
			
			<div id="au-lineage" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Located within:</em>
			</div>
			
			<div id="description" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Description:</em>
			</div>
			
			<div class="data-container">
				<em class="pull-left">Apollo location code:</em> <div id="gid" class="pull-left pre-spaced"></div>
			</div>
			
			<div class="data-container" style="z-index: 0;">
				<div id="historical-note" hidden>
					<strong style="color: red;">*Historical data overlayed on current world map*</strong>
				</div>
				
				<div id='map-data' class='map'>Loading...</div>
			</div>
			
			<div class="data-container extra-bottom-space">
				<em class="pull-left">This code references this location</em>
				
				<div id="founding-date-div" class="pre-spaced pull-left">
					<em class="pull-left">from:</em> <div id="start-date" class="pull-left pre-spaced"></div>
				</div>
				
				<div class="pre-spaced pull-left">
					<em class="pull-left">to</em> <div id="end-date" class="pull-left pre-spaced">present</div>
				</div>
			</div>
			
			<div id="au-related" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Related locations:</em>
			</div>
			
			<div id="epidemic-zone" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Epidemic zones:</em>
			</div>
			
			<div id="au-children" class="data-container extra-bottom-space" hidden>
			</div>
			
			<div id="codes" class="data-container extra-bottom-space" hidden>
				<em id="codes-toggle">Known codes for this location in other standards:</em>
			</div>
			
			<div class="data-container extra-bottom-space">
				<em class="pull-left">View location in alternative data format:</em>
				<div class="pull-left pre-spaced">[<a id="au-geojson">GeoJSON</a>], [<a id="au-kml">KML</a>], [<a id="au-apollojson">ApolloJSON</a>]</div>
			</div>
		</div>
		
		<div class="data-container extra-bottom-space">
			<div hidden>
				<div>
					<input id="json-input" accept=".json, .geojson, .kml" type="file" style="float: left;">
					<button id="upload-button" style="float: left;">Upload from file</button>
				</div>
				
				<button id="download-button">Download</button>
			</div>
		</div>
	</div>
}
