@(message: String, version:String)

@imports = {
	<script src='@routes.Assets.at("javascripts/browser.js")'></script>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'>
}

@main(message, imports, version) {
	<div>
		<div id="header-data" hidden>
			<h2 style="clear: both;">
				<div id="error" class="data-container" style="color : red; font-weight:bold;"></div>
				<div id="au-name" class="pull-left"></div>
				<div id="au-location-type" class="data-container"></div>
			</h2>
			
			<div id="au-lineage" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Located within:</em>
			</div>
			
			<div id="otherNames" class="data-container" hidden>
				<em class="pull-left">Other names: </em>
			</div>
			
			<div id="description" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Description:</em>
			</div>
			
			<div class="data-container">
				<em class="pull-left">Apollo location code:</em> <div id="gid" class="pull-left pre-spaced"></div>
			</div>
			
			<div class="data-container" style="z-index: 0;">
				<div id="historical-note" hidden>
					<strong style="color: red;">*Historical data overlayed on current world map*</strong>
				</div>
				
				<div class='map'>
					<div id='map-data' class='map' style="position: absolute;">Loading...</div>
					<img id='loader' class='map' src='@routes.Assets.at("images/loading.gif")' style="opacity: 0.7;"></img>
				</div>
			</div>
			
			<div class="data-container extra-bottom-space">
				<em class="pull-left">This code references this location</em>
				
				<div id="founding-date-div" class="pre-spaced pull-left">
					<em class="pull-left">from:</em> <div id="start-date" class="pull-left pre-spaced"></div>
				</div>
				
				<div class="pre-spaced pull-left">
					<em class="pull-left">to</em> <div id="end-date" class="pull-left pre-spaced">present</div>
				</div>
			</div>
			
			<div id="au-related" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Related locations:</em>
			</div>
			
			<div id="epidemic-zone" class="data-container extra-bottom-space" hidden>
				<em class="pull-left">Epidemic zones:</em>
			</div>
			
			<div id="au-children" class="data-container extra-bottom-space" hidden>
			</div>
			
			<div id="codes" class="data-container extra-bottom-space" hidden>
				<em id="codes-toggle">Known codes for this location in other standards:</em>
			</div>
			
			<div class="data-container extra-bottom-space">
				<em class="pull-left">View location in alternative data format:</em>
				<div class="pull-left pre-spaced">[<a id="au-geojson">GeoJSON</a>], [<a id="au-kml">KML</a>], [<a id="au-apollojson">ApolloJSON</a>]</div>
			</div>
		</div>
		
		<div class="data-container extra-bottom-space">
			<div hidden>
				<div>
					<input id="json-input" accept=".json, .geojson, .kml" type="file" style="float: left;">
					<button id="upload-button" style="float: left;">Upload from file</button>
				</div>
				
				<button id="download-button">Download</button>
			</div>
		</div>
	</div>
}
