@(message: String)

@imports = {
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>-->
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
	
	<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
	<script src='@routes.Assets.at("external_packages/fancytree/jquery.fancytree.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/create-map.js")'></script>
	<script src='@routes.Assets.at("javascripts/map-driver.js")'></script>
	<script src='@routes.Assets.at("javascripts/indexing-terms.js")'></script>
	<script src='@routes.Assets.at("javascripts/parent-tree.js")'></script>
	<script src='@routes.Assets.at("javascripts/au-composite-tree.js")'></script>
	<script src='@routes.Assets.at("javascripts/fancytree-ext-filter.js")'></script>
	
	<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/fancytree/ui.fancytree.css")' rel='stylesheet'/>
	
	<link href='@routes.Assets.at("stylesheets/fancytree-ext.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'/>
}

@main(message, imports) {
	<div style="padding-left: 1%;">
		<div class="pull-left">
			<div style="padding: 2px;">
				<div class="extra-bottom-space" style="border-width: 1px; border-style: groove; padding-left: 5px;">
					<input id="file-input" class="pull-left" accept=".json, .geojson, .kml" type="file" style="padding-top: 1px; padding-bottom: 1px;">
					
					<div class="pre-spaced">
						<em>ID:</em><input type="text" id="gid" class="pre-spaced" placeholder="ID to update in database">
						<button id="new-button" hidden>New entry</button>
					</div>
				</div>
				
				<div style="border-width: 1px; border-style: groove; padding-left: 5px;">
					<div class="vertical-spaced">
						<div class="dropdown pull-left">
							<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdown-menu" data-toggle="dropdown" aria-expanded="true">
								Location type <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-menu" data-toggle="dropdown" aria-expanded="true">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick='$("#au-type").val("Epidemic Zone"); $("#au-type").prop("disabled", true);'>Epidemic Zone</a></li>
								<li role="presentation" class="disabled" hidden><a role="menuitem" tabindex="-1" href="#" onclick='/*$("#au-type").prop("disabled", false); $("#au-type").val("");*/'>Location</a></li>
							</ul>
							<input type="text" id="au-type" placeholder="Location type" disabled>
						</div>
						
						<div><em class="pre-spaced">Name:</em><input type="text" id="au-name" class="pre-spaced" placeholder="Name"></div>
					</div>
					
					<div class="vertical-spaced" hidden>
						<em>Code:</em> <input type="text" id="au-code" class="pre-spaced" placeholder="Code"> <em>Code type:</em> <input type="text" id="au-codetype" class="pre-spaced" placeholder="Code type">
					</div>
					
					<div class="vertical-spaced">
						<em>Date:</em> <input type="text" id="start-date" class="pre-spaced" placeholder="Start date"> <em>to</em> <input type="text" id="end-date" class="pre-spaced" placeholder="End date">
					</div>
					
					<div class="vertical-spaced">
						<button id="save-button">Save to database</button>
						<span id="server-result"></span>
					</div>
				</div>
			</div>
			
			<div>
				<div id="map-one" class="map"></div>
				<button id="download-button" hidden>Download as GeoJSON</button>
			</div>
		</div>
		
		<div class="pull-left pre-spaced" style="border-width: 1px; border-style: groove; padding-left: 5px;">
			<div id="parent-list">
					<div>
						<legend><em>Encompassing location</em></legend>
						<label>Filter:</label>
						<input name="search" placeholder="Filter...">
						<button id="resetParentSearchButton">&times;</button>
						<span id="parent-matches"></span>
					</div>
					<div id="parent-tree" style="padding-top: 5px; max-height: 500px; overflow: auto;"></div>
			</div>
			
			<div id="au-list" class="pull-left" hidden>
					<div>
						<legend><em>AU Component IDs:</em></legend>
						<label>Filter:</label>
						<input name="au-search" placeholder="Filter...">
						<button id="resetCompositeSearchButton">&times;</button>
						<span id="composite-matches"></span>
					</div>
					<div id="au-composite-tree" style="padding-top: 5px"></div>
					<button id="composite-button">Build Composite</button>
			</div>
		</div>
	</div>
}
