@(message: String)

@imports = {
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>-->
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
	
	<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
	<script src="@routes.Assets.at("external_packages/jquery-ui.min.js")" type="text/javascript"></script>
	<script src='@routes.Assets.at("external_packages/fancytree/jquery.fancytree.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/map-driver.js")'></script>
	<script src='@routes.Assets.at("javascripts/indexing-terms.js")'></script>
	<script src='@routes.Assets.at("javascripts/fancytree-ext-filter.js")'></script>
	
	<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/fancytree/ui.fancytree.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'/>
	
	<!-- Local Data -->
	<script src='@routes.Assets.at("tree-data.js")'></script>
}

@main(message, imports) {
	<h1>@message</h1>
	<div hidden><a href="http://workshops.opengeo.org/postgis-intro/" target="_blank">PostGIS Intro</a></div>
	
	<div style="padding-left: 2%;">
		<div>
			<button id="new-button">New Administrative Unit</button>
			<div><em>ID:</em> <input id="gid" type="text" placeholder="ID"><button id="db-load-button">Load from database</button></div>
			<em>Name:</em> <input type="text" id="au-name" placeholder="Name"><br>
			<em>Code:</em> <input id="au-code" placeholder="Code"><br>
			<em>Code path:</em> <input id="au-codepath" placeholder="Code path"><br>
			<em>Start date:</em> <input id="start-date" placeholder="Start date"><br>
			<div><em>End date:</em> <input id="end-date" placeholder="End date"><button id="save-button">Save to Database</button></div>
		</div>
		
		<div>
			<div id="map-one" class="map pull-left"></div>
			
			<div id="picklist" class="pull-left">
					<div>
						<legend><em>Parent location ID(s):</legend>
						<label>Filter:</label>
						<input name="search" placeholder="Filter...">
						<button id="btnResetSearch">&times;</button>
						<span id="matches"></span>
					</div>
					<div id="tree" style="padding-top: 5px"></div>
					
					<!--
					<div id="indexing-terms-buttons-group">
						<button class='btn btn-primary btn-small' id='add_button'><span class="glyphicon icon-white glyphicon-arrow-down"></span><div style="float:right;">Add Terms</div></button>
						<button class='btn btn-primary btn-small' id='remove_button'><span class="glyphicon icon-white glyphicon-arrow-up"></span> <div style="float:right;">Remove Terms</div><div style="font-size: medium;"></div></button>
					</div>
					-->
			</div>
		</div>
		
		<div style="clear: both;">
			<div>
				<input id="json-input" accept=".json, .geojson, .kml" type="file" style="float: left;">
				<button id="upload-button" style="float: left;">Upload from file</button>
			</div>
			<button id="download-button">Download</button>
		</div>
	</div>
}
