@(message: String)

@imports = {
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
	
	<script src='@routes.Assets.at("javascripts/index.js")'></script>
	
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet'/>
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet'/>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'/>
}

@main("Welcome to PlayGIS 0.1", imports) {
	<h1>@message</h1>
	<div><a href="http://workshops.opengeo.org/postgis-intro/" target="_blank">PostGIS Intro</a></div>
	
	<div><input id="json-input" accept=".json, .geojson" type="file"><button id="upload_button">Load Map</button></div>
	<div id='map-one' class='map'></div>
	<button id='download_button' >Download</button>
}
