@(title: String, imports: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="@routes.Assets.at("external_packages/jquery-1.11.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("external_packages/bootstrap-3.3.1/js/bootstrap.min.js")" type="text/javascript"></script>
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("external_packages/bootstrap-3.3.1/css/bootstrap.min.css")">
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
		<!-- page-specific -->
		@imports
	</head>
	
	<body>
		<div class="container-fluid">
			@content
		</div>
	</body>
</html>
