@import play.api.Play.current
@import play.api.Play

@(title: String, imports: Html = Html(""), version: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/javascript">
			var context = '@Play.configuration.getString("play.http.context")';
		</script>
		
		<script src='@routes.Assets.at("external_packages/jquery-1.11.1.min.js")'></script>
		<script src='@routes.Assets.at("external_packages/jquery-ui.min.js")'></script>
		<link rel='stylesheet' href='@routes.Assets.at("external_packages/jqGrid-4.6.0/css/jquery-ui-1.11.1.custom/jquery-ui.min.css")'>
		
		<script src='@routes.Assets.at("external_packages/bootstrap-3.3.1/js/bootstrap.min.js")'></script>
		<link rel='stylesheet' href='@routes.Assets.at("external_packages/bootstrap-3.3.1/css/bootstrap.min.css")' media='screen'>
		
		<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.1.6.js")'></script>
		<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.1.6.css")' rel='stylesheet'>
		
		<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
		<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.3.js")'></script>
		<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.3.css")' rel='stylesheet'>
		<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
		
		<script src='@routes.Assets.at("javascripts/searchbar.js")'></script>
		<script src='@routes.Assets.at("javascripts/common.js")'></script>
		
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")' media='screen'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/search.css")'>
		
		<link rel='shortcut icon' href='@routes.Assets.at("images/favicon.png")' type='image/png'>
		
		<!-- page-specific -->
		@imports
	</head>
	
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid navbar-inner">
				<div class="navbar-header">
					<span class="navbar-brand">
						<a href="@routes.Application.index" style="color:#00ffff;">apollo location services</a> @title
					</span>
				</div>
			</div>
			
			<div class="container">
			@searchbar()
			</div>
		</nav>
		
		<div id="main-container" class="container-fluid" style="margin-left: auto; margin-right: auto;">
			@content
		</div>
		
		<footer id="footer" style="clear: both; margin-left: auto; margin-right: auto; text-align: center;">
			@version
			
			<div style="margin-left: auto; margin-right: auto;">
				<p>This work was funded by awards R01GM101151 and U24GM110707 from the National Institute for General Medical Sciences (NIGMS). The work does not represent the view of NIGMS.</p>
				<p>BY USING THE Apollo Location Services YOU AGREE THAT NO WARRANTIES OF ANY KIND ARE MADE BY THE UNIVERSITY OF PITTSBURGH (UNIVERSITY) WITH RESPECT TO THE DATA PROVIDED IN THE Apollo Location Services OR ANY USE THEREOF, AND THE UNIVERSITY HEREBY DISCLAIM THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. THE UNIVERSITY SHALL NOT BE LIABLE FOR ANY CLAIMS, LOSSES OR DAMAGES OF ANY KIND ARISING FROM THE DATA PROVIDED IN THE Apollo Location Services OR ANY USE THEREOF.</p>
			</div>
		</footer>
	</body>
</html>
