<div id="map-container">
	<div class="no-padding">
		<em>Use
			<div id="" class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top" style="display: inline-block;">
				<a class="leaflet-draw-draw-polygon"></a>
			</div> to search map within polygon
		</em>
	</div>
	
	<div class="no-padding">
		<em>Use
			<div id="" class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top" style="display: inline-block;">
				<a class="leaflet-draw-draw-marker"></a>
			</div> to search map by coordinates
		</em>
	</div>
	
	<div id="map-one" class="map"></div>
</div>
