@(message: String)

@imports = {
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>-->
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
	
	<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/read-only.js")'></script>
	
	<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.css")' rel='stylesheet'/>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'/>
}

@main("Welcome to PlayGIS 0.1", imports) {
	<h1>@message</h1>
	
	<div style="background-color: #f0f0f0; padding-left: 2%;">
		<div style="background-color: #f8f8f8;">
			<div><em>ID:</em> <input id="gid" type="text" placeholder="ID"><button id="db-load-button">Load from database</button></div>
			<em>Name:</em> <input type="text" id="au-name" placeholder="Name" disabled> <br>
			<em>Code:</em> <input id="au-code" placeholder="Code" disabled> <br>
			<em>Code path:</em> <input id="au-codepath" placeholder="Code path" disabled> <br>
			<em>Start date:</em> <input id="start-date" placeholder="Start date" disabled> <br>
			<em>End date:</em> <input id="end-date" placeholder="End date" disabled> <br>
			<em>Parent ID:</em> <a href="./read-only?id=1169" id="au-parent">Parent ID</a> <br>
		</div>
		
		<div style="float: left;">
			<div id='map-one' class='map'></div>
		</div>
		
		<div style="clear: both;">
			<div>
				<div hidden>
					<input id="json-input" accept=".json, .geojson, .kml" type="file" style="float: left;">
					<button id="upload-button" style="float: left;">Upload from file</button>
				</div>
				
				<button id="download-button">Download</button>
			</div>
		</div>
	</div>
}
