@(message: String)

@imports = {
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>-->
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>-->
	
	<script src='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.js")'></script>
	<script src='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet-omnivore-0.2.0.min.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/read-only.js")'></script>
	
	<link href='@routes.Assets.at("external_packages/MapBox/mapbox-2.0.1.css")' rel='stylesheet'/>
	<link href='@routes.Assets.at("external_packages/Leaflet_Plugins/leaflet.draw-0.2.2.css")' rel='stylesheet'/>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'/>
}

@main("Welcome to PlayGIS 0.1", imports) {
	<h1>@message</h1>
	
	<div style="padding-left: 10px;">
		<div>
			<div>
				<em class="pull-left">Location ID:</em> <div id="gid" class="pull-left pre-spaced"></div><button id="db-load-button" hidden>Load from database</button>
			</div>
			<div style="clear: both;">
				<em class="pull-left">Location name:</em> <div id="au-name" class="pull-left pre-spaced"></div>
			</div>
			<div style="clear: both;">
				<em class="pull-left">Location code:</em> <div id="au-code" class="pull-left pre-spaced"></div>
			</div>
			<div style="clear: both;">
				<em class="pull-left">Location code path:</em> <div id="au-codepath" class="pull-left pre-spaced"></div>
			</div>
			<div style="clear: both;">
				<em class="pull-left">Start date:</em> <div id="start-date" class="pull-left pre-spaced"></div>
			</div style="clear: both;">
			<div style="clear: both;">
				<em class="pull-left">End date:</em> <div id="end-date" class="pull-left pre-spaced"></div>
			</div>
			<div style="clear: both;">
				<em class="pull-left">Parent location ID:</em> <a id="au-parent" class="pull-left pre-spaced"></a>
			</div>
		</div>
		
		<div style="clear: both;">
			<div id='map-one' class='map'></div>
		</div>
		
		<div style="clear: both;">
			<div hidden>
				<div>
					<input id="json-input" accept=".json, .geojson, .kml" type="file" style="float: left;">
					<button id="upload-button" style="float: left;">Upload from file</button>
				</div>
				
				<button id="download-button">Download</button>
			</div>
		</div>
	</div>
}
