@(message: String, version: String)

@imports = {
	<script src='@routes.Assets.at("javascripts/search-results.js")' type='text/javascript'></script>
	<script src='@routes.Assets.at("javascripts/search-rank.js")' type='text/javascript'></script>
	
	<script src='@routes.Assets.at("external_packages/PapaParse-4.1.2/papaparse.min.js")' type='text/javascript'></script>
	
	<script src='@routes.Assets.at("javascripts/resolver.js")' type='text/javascript'></script>
	
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'>
	<link href='@routes.Assets.at("stylesheets/resolver.css")' rel='stylesheet'>
}

@main(message, imports, version) {
	<div class="no-padding">
		<legend>Location Resolver</legend>
		<div>
			<div class="extra-bottom-space">
				<input id="csv-input" type="file" accept=".csv, .txt" style="display: inline-block;">
				<button id="process-button" class="">Process File</button>
			</div>
			
			<div class="extra-bottom-space" style="clear: both;">
				<div class="extra-bottom-space" style="display: inline-block;">
					<legend>Country</legend>
					<select id="country-selection">
						<option id="-1">None selected</option>
					</select>
				</div>
				
				<div class="extra-bottom-space" style="clear: both;">
					<div id="search-priorities" style="float: left;"></div>
					
					<div style="float: left;">
						<button id="add-priority" class="">+</button>
						<button id="remove-priority" class="">-</button>
					</div>
					
					<div style="float: right; clear: both;">
						<button id="resolve-button">Run Resolver</button>
					</div>
				</div>
			</div>
			
			<div style="clear: both;">
				<legend>Mappings</legend>
				<div id="loading-gif" style="display: none;">
					<!--<img src='@routes.Assets.at("images/loading.gif")' style="display: block; margin-left: auto; margin-right: auto;">-->
					<h1 style="display: table; margin-left: auto; margin-right: auto;">LOADING, PLEASE WAIT =)</h1>
				</div>
				
				<div id="result" style="clear: both;">
					<table id="input-table" style="float: left; clear: both;"></table>
				</div>
			</div>
		</div>
	</div>
}
