<div style="width:75%; margin-left: auto; margin-right: auto;">
		<label class="pull-left no-vertical-padding post-spaced" style="margin-bottom: 0px; margin-top: 3px; color: #ffff00; font-size: 12px;">Search for:</label>
		<input type="text" id="input" class="pull-left form-control ui-autocomplete-input no-padding" placeholder="Location name" style="z-index: 1; height: inherit; padding-left: 3px; padding-right: 3px; max-width: 50%;">
		<button id="search-button" class= "btn btn-default btn-sm no-vertical-padding pre-spaced" style="clear: right;">Search</button>
</div>
