@(message: String, version:String)

@imports = {
	<script src='@routes.Assets.at("external_packages/fancytree/jquery.fancytree.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/map-driver.js")'></script>
	<script src='@routes.Assets.at("javascripts/search-map.js")'></script>
	
	<script src='@routes.Assets.at("javascripts/search-results.js")' type='text/javascript'></script>
	<script src='@routes.Assets.at("javascripts/search-rank.js")' type='text/javascript'></script>
	
	<link href='@routes.Assets.at("external_packages/fancytree/ui.fancytree.css")' rel='stylesheet'>
	
	<link href='@routes.Assets.at("stylesheets/fancytree-ext.css")' rel='stylesheet'>
	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet'>
}

@main(message, imports, version) {
	<div>
		<em>Place <div id="leaflet-draw-marker" class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top" style="display: inline-block;"><a class="leaflet-draw-draw-marker"></a></div> on map to search by coordinates</em>
	</div>
	
	<div id="map-one" class="map pull-left" style="max-width: 50%;"></div>
	
	<div class="pull-left" style="width: 49%;">
		<div id="result" class="pre-spaced" style="clear: both;"></div>
		
		<div id="parent-list" class="pull-left" hidden>
			<div>
				<legend><em>Parent location ID:</em></legend>
				<label>Filter:</label>
				<input name="search" placeholder="Filter...">
				<button id="resetParentSearchButton">&times;</button>
				<span id="parent-matches"></span>
			</div>
			
			<div id="parent-tree" style="padding-top: 5px"></div>
		</div>
	</div>
}
