<div style="background-color: #ffffff; border-width: 2px; border-color: lavenderblush; border-style: groove;">
	<div style="background-color: rgb(237, 238, 247);">
		<label class="pull-left no-vertical-padding post-spaced" style="margin-bottom: 1px;">Search for:</label>
		<input type="text" id="input" class="pull-left form-control ui-autocomplete-input no-vertical-padding" placeholder="Location name" style="width: 75%; z-index: 1; height: inherit;">
		<button id="search-button" class="btn btn-default pull-left no-vertical-padding">Search</button>
		<label id="result-count" style="clear:both; margin-bottom: 1px;" class="pre-spaced no-vertical-padding"># of result(s)</label>
	</div>
	
	<div id="result" style="clear: both;"></div>
</div>
